body {
	background-color: #2F2F2F;
	background-image: -moz-linear-gradient(top,#333,#2a2a2a);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#2A2A2A));
	background-image: -webkit-linear-gradient(top,#333,#2A2A2A);
	background-image: -o-linear-gradient(top,#333,#2a2a2a);
	background-image: linear-gradient(to bottom,#333,#2A2A2A);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333',endColorstr='#ff2a2a2a',GradientType=0);
	border-color: #2A2A2A;
}

a, a:hover {
	color: white;
}

#auth form .text {
	border: none;
	background-color: #FFF;
}

input:-webkit-autofill {
	background-color: #FFF;
}

.btn-positive {
	border: none;
	background-color: #0CACFF;
	color: white;
}
.btn.btn-positive:hover{
	border: none;
	background-color: #fff;
	color: black;
	cursor: pointer;
}